<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
	<system.serviceModel>
		<protocolMapping>
			<add scheme="net.udp" binding="netUdpinding" bindingConfiguration=""/>
		</protocolMapping>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
			
		</behaviors>
		<services>
			
		
		<service name="PicoDeltaService">
			<endpoint address="PicoDeltaService" binding="basicHttpBinding" contract="PicoDeltaSilverlightClient.Web.Interfaces.IPicoDelta" />
		</service>
		</services>
	</system.serviceModel>
</configuration>
